/*Overall display for header, by setting it to space between I set the 2 flex containers on 2 sides of the page. I just needed to adjust their paddingso they wont stick to the sides*/
header{
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
  z-index: 1;
  margin-bottom: 10px;
}
/*this enabled me to have the logo and the nav on the same line, remember to set the width! */
.logo{
  display: inline-flex;
  width: 200px;
  align-items: center;
  padding-left: 30px;
  border: 1px solid black;
}
/*Logo text*/
.logo span{
  color: MediumAquamarine;
  align-self: center;
  padding-left: 11px;
}
/*got the logo in the right position and not too close to edge*/
.nav{
  display: inline-flex;
  width: 300px;
  padding-right: 40px;
  justify-content: center;

}
/*text doesnt look squishy*/
.nav span{
  display: inline-block;
  align-self: center;
  padding: 20px 13px;
}
/*nav links*/
.nav a{
  color: black;
  text-decoration: underline;
}
/*Left column*/
.column.large{
  display: flex;
  flex-direction: column;
  width: 630px;
  position: relative;
  top: 90px;
  border: 1px solid black;
  margin-right: 10px;

}
/*middle column*/
.column.medium{
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  top: 90px;
  margin-left: 10px;

}
/*small column*/
.column.small{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 240px;
  position: relative;
  top: 90px;

}

/*borders for development*/
.steak, .orca, .steakarticle, .earth, .burger, .camera, .fbi, .cats, .brooklyn,.cookie, .column.large, .column.middle, .column.small, .bites{
  border: 1px solid black;
}
/*this code enables the columns to appear next to each other*/
.content{
  display: inline-flex;

  background-color: white;
}
/*background image for left coolumn*/
.steak span{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}
/*the flex property enabled the image to resize correctly and fit the whole image*/
.image-content{
  height: 300px;
  display: flex;
}
.image-content span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.earth{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  text-align: center;
}
/*styling for text on the images*/
.earth span, .camera p, .cats span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}
/*aligning text on image*/
.camera{
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  display: flex;
}
.steakarticle p, .orca p, .burger p, .fbi p, .brooklyn p, .bites p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
/*cats immage*/
.cats span{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}
.cats{
  display: flex
}
